PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:6543/postgres?prepareThreshold=0
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change_me

GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me
GITHUB_CLIENT_ID=change_me
GITHUB_CLIENT_SECRET=change_me

JWT_SECRET=change_this_jwt_secret_to_a_secure_32_byte_minimum_key

SPRING_MAIL_USERNAME=change_me
SPRING_MAIL_PASSWORD=change_me

CLOUDINARY_CLOUD_NAME=change_me
CLOUDINARY_API_KEY=change_me
CLOUDINARY_API_SECRET=change_me

RAZORPAY_KEY_ID=change_me
RAZORPAY_KEY_SECRET=change_me

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080

GEMINI_API_KEY=change_me
